.contant-blog-wrap
	.container
		.row
			section.post-list
				article.post
					header.post-header
						h1.post-title
							a(href='#').post-link Мой первый пост в этом блоге!
						.post-meta Nov 26, 2016
					div.post-content как специалиста, оказываеться я именно я и некто другой должен составляьть тз дял себя любимого, ибо я могу его составить на остнове того что я умеюи обезапасю себя и увожаемого клиента от нервов неустоек и прочей гадости, а так же от не нужных неоплачиваемых екстперементов которые кушают моё драгоценное время, В этом деле должен помогать сайт портфолио, на котором должны быть принцыпы по которым я работаю и которыми я руководствуюсь по жизни это также презентует меня клиенту как специалиста!Портфолио - после показа и заявления что вы можете ожидать от меня именно ттакой уровень клиент чуствует себя более комфортно,так же как и я я же эти работы сделал значит и эту сделаю. Важно поддверждать каждое изменение в процессе работы оговорить правки и что если лимит вышел, за всё остальное нужно платить(было бы здорово, а то были прицинденты что правки лелись ка ниогара)Важно рассказать как вы будите работать с клиентом сколько времени и на какой этап мне нужно потратить - я считаю что это может десциплинировать и вывести удобство работы на новый уровень.На своём сайте хорошей практикой выложить грамоты сертификаты чтобы сошил пруф для клиента был очивиден! т.к одно дело что я говорю о себе а лруго е что общество!(Репутация наше всё!)Самое важно нужно заключать договор с четкими условиями пример можно взять в бюро горбунова!Впечетления прям положительные от первого видео, возлагаю много надежд,но первое задание немнго отпугнулу, но нечего постараюсь думаю всё получиться вроде не первый раз вижу фотошоп, на сим откланяюсь, и закончу и как и преподоватьль, фразой да прибудит с вами сила!
