#loader
    #loaderInner
section.section-about
    container
        h1.section__title Обо мне
        div.about
            p.about__text  Мое имя Александр, я front-end разработчик живщий в Мариуполе, Украина.Я специализируюсь в разработке сайтов на Joomla и Wordpress. Также имею скилы системного администратора, Я большой поклонник спорта и здоровой жизни, сильно увлекаюаюсь своей работой.


