#loader
    #loaderInner
        i.fa.fa-spinner.fa-pulse.fa-4x
section.section-about#about
    .container
        h1.section__title Обо мне
        div.about
            p.about__text  Мое имя Александр, я front-end разработчик живщий в Мариуполе, Украина.Я специализируюсь в разработке сайтов на Joomla и Wordpress. Также имею скилы системного администратора, Я большой поклонник спорта и здоровой жизни, сильно увлекаюаюсь своей работой.
section.section-works#portfolio
    .container
        h1.section__title  Мои последнии работы
    .container
        row
            .controls
                ul
                    li.filter.active(data-filter="all") Все работы
                    li.filter(data-filter=".category_1") Лендинги
                    li.filter(data-filter=".category_2") Магазины
            #portfolio_show
                .mix.col-md-3.col-sm-6.col-xs-12.portfolio__item.category_1
                    img(src="images/portfolio-img/1.jpg" alt="Alt")
                    .item__content
                        h3 Заголовок работы
                        p Описание работы
                        a.popup_content(href="#") Посмотреть
                .mix.col-md-3.col-sm-6.col-xs-12.portfolio__item.category_2
                    img(src="images/portfolio-img/2.jpg" alt="Alt")
                    .item__content
                        h3 Заголовок работы
                        p Описание работы
                        a.popup_content(href="#") Посмотреть
                .mix.col-md-3.col-sm-6.col-xs-12.portfolio__item.category_2
                    img(src="images/portfolio-img/3.jpg" alt="Alt")
                    .item__content
                        h3 Заголовок работы
                        p Описание работы
                        a.popup_content(href="#") Посмотреть
                .mix.col-md-3.col-sm-6.col-xs-12.portfolio__item.category_1
                    img(src="images/portfolio-img/4.jpg" alt="Alt")
                    .item__content
                        h3 Заголовок работы
                        p Описание работы
                        a.popup_content(href="#") Посмотреть
section.section-contacts#mailMe
    .container
        h1.section__title  Контакты
    .container
        .row
            .col-md-12
                form.main_form(novalidate)
                   .control-group.name_form
                        label.control-label(for="name") *Ваше имя:
                        input(type="text" name="name" placeholder="Ваше имя" required data-validation-required-message="Вы не ввели имя" aria-invalid="false")
                        span.help-block
                    .control-group.mail_form
                        label.control-label(for="email") *Ваш E-mail:
                        input(type="email" name="email" placeholder="Ваш E-mail" required data-validation-required-message="Не корректно введен E-mail" aria-invalid="false")
                        span.help-block
                    .control-group
                         label.control-label(for="message") *Ваше сообщение:
                         textarea(name="message" placeholder="Ваше сообщение" required data-validation-required-message="Вы не ввели сообщение" aria-required="true" aria-invalid="true" aria-describedby="comment-error")
                         span.help-block
                    input.submit(type="submit" name="submit_form" value="Отправить")





