//Footer
footer
    .container
        .row
            .col-md-6.col-sm-6.col-xs-12
                p.footer__note © 2015  #{user.name} #{user.sname}
            .col-lg-6.col-sm-6.col-xs-12
                ul.links
                    li.links__item
                        a(href="https://twitter.com/Al4peace")
                            i.fa.fa-twitter
                    li.links__item
                        a(href="https://www.facebook.com/alex.alforpeace")
                            i.fa.fa-facebook
                    li.links__item
                        a(href="https://github.com/alex4code")
                            i.fa.fa-github

        a(href="#home").up
            i.fa.fa-angle-double-up

//End footer


