//Footer
footer
    .container
        .row
            .col-md-6.col-sm-6.col-xs-12
                p.footer__note © 2015 by Alex
            .col-lg-6.col-sm-6.col-xs-12
                ul.links
                    li.links__item
                        a(href="#")
                            i.fa.fa-twitter
                    li.links__item
                        a(href="#")
                            i.fa.fa-vk
                    li.links__item
                        a(href="#")
                            i.fa.fa-facebook
                    li.links__item
                        a(href="#")
                            i.fa.fa-github



//End footer


