//Header
header.main_head#home(data-parallax="scroll" data-image-src="/images/header/head_img.jpg")
    .container
        .row
            .head_nav
                .logo_container.col-md-6
                    img(src="images/header/avatar.jpg" alt="header__person-photo")
                    span.header__person-name Александр Величко
                nav.header__nav.col-md-6.navbar(role="navigation")
                    ul.menu
                        li
                            a(href="#about") Обо мне
                        li
                            a(href="#portfolio") Портфолио
                        li
                            a(href="#mailMe") Написать

    .header__intro
        .header__intro-inner
            p Front-end разработчик из Украины.
            p Готов к удалённой работе.
    a(href="#").header__scroll
        i.fa.fa-angle-down.fa-2x
//End header
