//Header
header.main_head#home( data-speed="2")
    .container
        .row
            .head_nav
                .logo_container.col-md-6.col-sm-6.col-xs-12
                    img(src="images/header/avatar.png" alt="header__person-photo" )
                    h1.header__person-name #{user. name} #{user. sname}
                nav.header__nav.col-md-6.col-sm-6.col-xs-12.pull-leftnavbar(role="navigation")
                    h2.outline Навигация
                    ul.menu
                        - each item in menuLink
                            li: a(href= item.link) #{item.name}
    .header__intro
        .header__intro-inner
            h2 Front-end разработчик из Украины.
            p Готов к удалённой работе.
    a(href="#about").header__scroll
        i.fa.fa-angle-down.fa-2x
//End header
