//- Сюда добавляем скрипты которые грузятся в конце страницы
//- script(src='js/mysuperscipt.js')  - Загрузка с файла
//-
//- script.
//-        var a = super;
//-	function{}
//-  Скрипт прямо на странице ( Обрати внимание на точку ( . ) после 'script')
//Scripts
script(src="js/libs/jquery.min.js")
script(src="js/libs/jquery.mixitup.min.js")
script(src="js/libs/jqBootstrapValidation-1.3.7.min.js")
script(src="js/libs/jquery.malihu.PageScroll2id.js")
script(src="js/libs/waypoints.min.js")
script(src="js/libs/animate-css.js")
script(src="js/main.js")
//End Scripts


