//- Сюда добавляем скрипты которые грузятся в конце страницы
//- script(src='js/mysuperscipt.js')  - Загрузка с файла
//-
//- script.
//-        var a = super;
//-	function{}
//-  Скрипт прямо на странице ( Обрати внимание на точку ( . ) после 'script')

//Scripts
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
script(src="js/libs/parallax.min.js")
script(src="js/libs/jquery.mixitup.min.js")
script(src="js/main.js")
//End Scripts


