section {
  height: 500px;
}

.section__title {
  font-size: 38px;
  line-height: 1.176;
  margin: 0 0 100px;
  text-align: center;
}

.about {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  text-align: center;
}
.about__text{
  margin: 0;
}

